* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	width: 100%;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
}
